.type_msg {
	border-top: 1px solid #c4c4c4;
	position: relative;
}

.input_msg_write input {
	background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: medium none;
	color: #ebebeb;
	font-size: 15px;
	min-height: 48px;
	width: 100%;
	outline:none;
}

.input_msg_write input::placeholder{
    color: #ebebeb;
}


.msg_send_btn {
	background: #05728f none repeat scroll 0 0;
	border:none;
	border-radius: 50%;
	color: #fff;
	cursor: pointer;
	font-size: 15px;
	height: 33px;
	position: absolute;
	right: 0;
	top: 11px;
	width: 33px;
}
