.header-container{
    margin-top:20px;    
}
.text-white {
    color: #fff ;
}

/* Backgrounds */
.ui-bg-overlay-container, .ui-bg-video-container {
    position: relative;
}
.ui-bg-cover {
    background-color: transparent;
    background-position: center center;
    background-size: cover;
}
.ui-bg-overlay-container .ui-bg-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
}

.bg-dark {
    background-color: rgba(24,28,33,0.9) ;
}
.opacity-50 {
    opacity: .5 ;
}
.bg-dark {
    background-color: rgba(24,28,33,0.9) ;
}
.ui-bg-overlay-container>*, .ui-bg-video-container>* {
    position: relative;
}

.d-flex, .d-inline-flex, .media, .media>:not(.media-body), .jumbotron, .card {
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.rounded-circle {
    max-width: 30%;
}
.opacity-75 {
    opacity: .75 ;
}

/* Nav */
.tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:hover, .tabs-alt.nav-tabs .nav-link.active:focus, .tabs-alt>.nav-tabs .nav-link.active, .tabs-alt>.nav-tabs .nav-link.active:hover, .tabs-alt>.nav-tabs .nav-link.active:focus {
    -webkit-box-shadow: 0 -2px 0 #26B4FF inset;
    box-shadow: 0 -2px 0 #26B4FF inset;
}

.nav-tabs:not(.nav-fill):not(.nav-justified) .nav-link, .nav-pills:not(.nav-fill):not(.nav-justified) .nav-link {
    margin-right: .125rem;
}
.nav-tabs.tabs-alt .nav-link, .tabs-alt>.nav-tabs .nav-link {
    border-width: 0 ;
    border-radius: 0 ;
    background-color: transparent ;
}
.nav-tabs .nav-link.active {
    border-bottom-color: #fff;
}